<?xml version="1.0"?>
<config>
    <modules>
        <Clearpay_Clearpay>
            <version>1.0.0</version>
        </Clearpay_Clearpay>
    </modules>
    <global>
        <events>
            <sales_order_place_after>
                <observers>
                    <Clearpay_Clearpay>
                        <class>clearpay/observer</class>
                        <method>cancelPendingOrders</method>
                    </Clearpay_Clearpay>
                </observers>
            </sales_order_place_after>
            <payment_method_is_active>
                <observers>
                    <disable_paymentmethod>
                        <class>clearpay/observer</class>
                        <method>paymentMethodIsActive</method>
                    </disable_paymentmethod>
                </observers>
            </payment_method_is_active>
        </events>

        <helpers>
            <clearpay>
                <class>Clearpay_Clearpay_Helper</class>
            </clearpay>
        </helpers>

        <blocks>
            <clearpay>
                <class>Clearpay_Clearpay_Block</class>
            </clearpay>
        </blocks>

        <models>
            <clearpay>
                <class>Clearpay_Clearpay_Model</class>
                <resourceModel>clearpay_resource</resourceModel>
            </clearpay>

            <clearpay_resource>
            <class>Clearpay_Clearpay_Model_Resource</class>
            <entities>
                <log>
                    <table>clearpay_log</table>
                </log>
                <order>
                    <table>clearpay_order</table>
                </order>
                <concurrency>
                    <table>clearpay_cart_concurrency</table>
                </concurrency>
            </entities>
        </clearpay_resource>
        </models>

        <resources>
            <clearpay_setup>
                <setup>
                    <module>Clearpay_Clearpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </clearpay_setup>
            <clearpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </clearpay_write>
            <clearpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </clearpay_read>
        </resources>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Clearpay_Clearpay>
                    <files>
                        <default>Clearpay_Clearpay.csv</default>
                    </files>
                </Clearpay_Clearpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <bar>
                    <file>clearpay.xml</file>
                </bar>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <clearpay>
                <use>standard</use>
                <args>
                    <module>Clearpay_Clearpay</module>
                    <frontName>clearpay</frontName>
                </args>
            </clearpay>
        </routers>
        <layout>
            <updates>
                <clearpay>
                    <file>clearpay.xml</file>
                </clearpay>
            </updates>
        </layout>
    </frontend>

    <default>
        <payment>
            <clearpay translate="title" module="clearpay">
                <active>0</active>
                <title>Clearpay</title>
                <model>clearpay/clearpay</model>
                <order_status>pending_payment</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
                <clearpay_environment>sandbox</clearpay_environment>
                <clearpay_api_region>ES</clearpay_api_region>
            </clearpay>
        </payment>
    </default>

</config>
